* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-family: 'Shippori Mincho B1', serif;
  color: darkslategrey;
}
p {
  font-size: 1rem;
}
body {
  background: var(--offwhite);
}
:root {
  --salmon: #f7786b;
  --offwhite: #F7F6F3;
  --black: #2E2E3A;
  --unblue: #C4D5E9;
}
.navbar {
  font-family: 'Shippori Mincho B1', serif;
  color: darkslategrey;
  background: var(--offwhite);
  border-top: solid var(--salmon) 5px;
  margin-bottom: 2em;
}
.container {
  display: flex;
  justify-content: space-between;
}
.logo {
  padding: 1rem;
}
.menu {
  margin-left: auto;
}
.menu ul {
  list-style-type: none;
}
.menu li {
  display: inline-block;
  padding: 1rem;
}
.menu-button {
  display: none;
  padding: 1rem;
  background: var(--salmon);
  color: white;
}
.donate {
  padding: 1rem;
  background: var(--salmon);
  color: white;
}
.bg-blue {
  background: var(--unblue);
}
.bg-salmon {
  background: var(--salmon);
}
.quote {
  font-family: 'Shippori Mincho B1', serif;
  font-size: 36px;
  color: var(--black);
  padding: 3rem;
}
.picture {
  width: 50%;
}
h1.splash {
  height: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
  font-size: 4em;
  text-shadow: 1px 1px black;
  padding-bottom: 1em;
}
.bg-splash {
  width: 100%;
  height: auto;
  background-image: url(./images/window.jpg);
}
.button {
  padding: 3rem;
  background: var(--offwhite);
  display: inline-block;
}
.button a:link, .button a:visited, .menu a, .menu a:visited {
  text-decoration: none;
  color: var(--black);
}

/*Responsive CSS*/
@media (max-width: 767px){
  .container {
    width: auto;
    margin: 0;
    flex-wrap: wrap;
  }
  .quote {
    padding: 1rem;
  }
  .menu li {
    display: none;
  }
  .picture {
    width: 100%;
  }
  .menu-button {
    margin-left: auto;
    display: inline-block;
  }
  .menu-button:hover {
    background:#c56055;
  }
  .menu-open li{
    display: block;
  }
  .menu-open li:hover {
    background:#c56055;
    color: white;
  }
  ul.menu-open {
    position: absolute;
    top: 60px;
    right: 0px;
    width: 200px;
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.4);
    background: white;
  }
  .menu {
    margin-left: 0;
  }
}
@media (min-width: 768px){
  .container {
    width: 750px;
    margin: 0 auto;
  }
  .props {
    width: 750px;
  }
}
@media (min-width: 1200px){
  .container {
    width: 1170px;
    margin: 0 auto;
  }
  .props {
    width: 1170px;
  }
}
@media (min-width: 992px){
  .container {
    width: 970px;
    margin: 0 auto;
  }
  .props {
    width: 970px;
  }
}
/*Animation CSS*/
.animation{
  background: #f7786b;
  padding-top: 2rem;
}
.props{
  margin: 0 auto;
}

.sick {
  animation: sick 8s linear infinite;
}
@keyframes sick {
  0% {
    fill:#FEC377;
  }
  50% {
    fill:#FEC377;
  }
  60% {
    fill: yellowgreen;
  }
  100% {
    fill: yellowgreen;
  }
}
.fall {
  animation: fall 8s cubic-bezier(0.73,-0.24, 0.71, 0.18) infinite;
  transform-origin: 65px 76px;
}
@keyframes fall {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
.dooropen {
  transform-origin: -37px 20px;
  animation: dooropen 8s cubic-bezier(0.51, -0.01, 0.29, 1) infinite;
}
@keyframes dooropen {
  0% {
    transform: perspective(0px) rotateY(0deg);
  }
  33% {
    transform: perspective(200px) rotateY(-45deg);
  }
  66% {
    transform: perspective(200px) rotateY(-35deg);
  }
  100% {
    transform: perspective(200px) rotateY(-40deg);;
  }
}
.windowclose {
  animation: windowclose 8s cubic-bezier(0.51, -0.01, 0.29, 1) infinite;
}
@keyframes windowclose {
  0% {
    transform: translateY(14px);
  }
  35% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}