* {
  margin: 0;
  padding: 0;
}
:root {
  --salmon: #f7786b;
  --offwhite: #F7F6F3;
  --black: #2E2E3A;
  --unblue: #E1EAF4;
}
html {
  box-sizing: border-box;
  font-family: 'Shippori Mincho B1', serif;
  color: var(--black);
}
h1 {
  font-size: 4rem;
  padding: 1rem 0;
}
h2 {
  font-size: 2.5rem;
  padding: 1rem 0;
  font-weight: normal;
}
h2.title {
  font-size: 2rem;
  border-top: solid var(--salmon) 1px;
  border-bottom: solid var(--salmon) 1px;

}
p {
  font-size: 1rem;
  padding: 2rem 0;
}
body {
  background: var(--offwhite);
}

.navbar {
  color: darkslategrey;
  border-top: solid var(--salmon) 5px;
  margin-bottom: 2em;
}
.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: space-between;
}
.logo img {
  height: 100px;
}
.menu {
  margin-left: auto;
}
.menu ul {
  list-style-type: none;
}
.menu li {
  display: inline-block;
}
.menu-button {
  display: none;
  padding: 1rem;
  background: var(--salmon);
  color: var(--offwhite);
  cursor: pointer;
}
.menu-item {
  padding: 1rem;
}
.donate {
  background: var(--salmon);
  color: var(--offwhite) !important;
}
.donatefoot {
  display: inline-block;
}
.bg-blue {
  background: var(--unblue);
}
.bg-salmon {
  background: var(--salmon);
}
h1.splash {
  font-family: 'Montserrat', sans-serif;
  height: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--offwhite);
  text-shadow: 2px 2px var(--black);
  margin-bottom: 15px;
  margin-left: 200px;
  font-size: 4em;
}
.child {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-image: url(./images/child.jpg);
  background-position: center;
  background-size: cover;
  border-top: solid var(--salmon) 5px;
  border-bottom: solid var(--salmon) 5px;
}
h1.quote {
  max-width: 600px;
  font-size: 2em;
  color: var(--offwhite);
  text-shadow: 1px 1px var(--black);
  padding: 1rem;
}
h2.quote {
  border-left: solid var(--salmon) 2px;
  padding: 0 2rem;
}
h2.attr {
  max-width: 400px;
  font-size: 1em;
  color: var(--offwhite);
}
.bg-splash {
  width: 100%;
  height: auto;
  background-image: url(./images/windowopen.jpg);
  background-position: bottom;
  background-size: cover;
}
.turbine {
  width: 100%;
  height: auto;
  background-image: url(./images/turbines.jpeg);
  background-position: bottom;
  background-size: cover;
  border-top: solid var(--salmon) 5px;
  border-bottom: solid var(--salmon) 5px;
}
h1.slogan {
  font-family: 'Montserrat', sans-serif;
  padding: 0 2rem;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--offwhite);
  text-shadow: 2px 2px var(--black);
  font-size: 3em;
}
h2.byline {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.button {
  padding: 1rem;
  color: var(--offwhite);
  background: var(--salmon);
}
a:link, a:visited, a, a:visited {
  text-decoration: none;
  color: var(--black);
}
a.link {
  font-weight: bold;
  border-bottom: dotted var(--salmon);
}
a:hover.link {
  font-weight: bold;
  border-bottom: dotted var(--black);
}
footer {
  padding: 2rem 0;
  min-height: 300px;
  background-color: var(--unblue);
  border-bottom: solid var(--salmon) 5px;
}
footer h1 {
  font-size: 2rem;
  padding: 0;
}
.footlogo {
  width: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.footnav {
  width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.footnav a{
  padding: 1rem 0;
}
.about {
  width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.about a {
  padding: 1rem 0;
}
.social img{
  width: 3rem;
  padding: 1rem 0;
  margin-right: 2rem;
}
/*Responsive CSS*/
@media (max-width: 767px){
  .container {
    width: auto;
    margin: 1rem;
    flex-wrap: wrap;
  }
  .menu li {
    display: none;
  }
  .picture {
    width: 100%;
  }
  .menu-button {
    margin-left: auto;
    display: inline-block;
  }
  .menu-button:hover {
    background:#c56055;
  }
  .menu-open li{
    display: block;
  }
  .menu-open li:hover {
    background:#c56055;
    color: white;
  }
  ul.menu-open {
    position: absolute;
    top: 100px;
    right: 0px;
    width: 200px;
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.4);
    background: white;
  }
  .menu {
    margin-left: 0;
  }
  .footlogo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
  h1 {
    font-size: 2.5rem;
    padding: 1rem 0;
  }
  h1.splash {
    font-size: 3rem;
    margin-left: 0;
    height: 300px;
  }
  h1.quote {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: normal;
  }
  h2.title {
    font-size: 1.2rem;
    border-top: solid var(--salmon) 1px;
    border-bottom: solid var(--salmon) 1px;
  }
  h2.attr {
    font-size: .75rem;
    padding: 0 1rem;
  }
}
@media (min-width: 768px){
  .container {
    width: 750px;
    margin: 0 auto;
  }
  h1.splash {
    font-size: 3.5rem;
    height: 375px;
    margin-left: 0;
  }
  .props {
    width: 750px;
  }
}
@media (min-width: 992px){
  .container {
    width: 850px;
    margin: 0 auto;
  }
  .props {
    width: 850px;
  }
  h1.splash {
    height: 400px;
  }
}
@media (min-width: 1200px){
  .container {
    width: 1000px;
    margin: 0 auto;
  }
  .props {
    width: 1000px;
  }
}
/*Animation CSS*/
.animation{
  background: #f7786b;
  padding-top: 2rem;
}
.props{
  margin: 0 auto;
}

.sick {
  animation: sick 8s linear infinite;
}
@keyframes sick {
  0% {
    fill:#FEC377;
  }
  50% {
    fill:#FEC377;
  }
  60% {
    fill: yellowgreen;
  }
  100% {
    fill: yellowgreen;
  }
}
.fall {
  animation: fall 8s cubic-bezier(0.73,-0.24, 0.71, 0.18) infinite;
  transform-origin: 65px 76px;
}
@keyframes fall {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
.dooropen {
  transform-origin: -37px 20px;
  animation: dooropen 8s cubic-bezier(0.51, -0.01, 0.29, 1) infinite;
}
@keyframes dooropen {
  0% {
    transform: perspective(0px) rotateY(0deg);
  }
  33% {
    transform: perspective(200px) rotateY(-45deg);
  }
  66% {
    transform: perspective(200px) rotateY(-35deg);
  }
  100% {
    transform: perspective(200px) rotateY(-40deg);;
  }
}
.windowclose {
  animation: windowclose 8s cubic-bezier(0.51, -0.01, 0.29, 1) infinite;
}
@keyframes windowclose {
  0% {
    transform: translateY(14px);
  }
  35% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}